.gradient_card{}
.gradient_card .serve-heading{}
.gradient_card .serve-heading h2{width: 100%;max-width: 100%;}
.gradient_card .serve-content{}
.gradient_card .bg-image{filter:unset !important;}
.gradient_card .source-card .gradient-box:before{content:'';background: linear-gradient(359.41deg, rgba(94, 11, 6, 0.8) 0.51%, rgba(0, 0, 0, 0) 119.58%);}

