/* =========================================================
   UTILITY CLASSES
   Helper classes for specific layout or style needs.
   ========================================================= */

@layer utilities {
  /* Text handling */
  .text-balance {
    text-wrap: balance;
  }

  /* .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  } */

  /* Overlay effects */
  .bg-hero-overlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  }
}
