# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files (optional depending on workflow)
dist/
build/

# Env
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# WordPress
wp-config.php
